<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
        <form class="login-form">

            
                <p class="text-center mt-3">Already have an account? Let's get cooking!</p>
                <label for="email-login">email:</label>
                <input class="form-control form-rounded" type="text" id="email-login" />
                <label for="password-login">password:</label>
                <input class="form-control form-rounded" type="password" id="password-login" />
                <button type="submit" class="btn btn-primary">Login</button>
            
        </form>
        
        <form class="signup-form">
                <p class="text-center">Create an Account</p>
                <label for="username-signup">username:</label>
                <input class="form-control form-rounded" type="text" id="username-signup" />
                <label for="email-signup">email:</label>
                <input class="form-control form-rounded" type="text" id="email-signup" />
                <label for="password-signup">password:</label>
                <input class="form-control form-rounded" type="password" id="password-signup" />
                <button type="submit" class="btn btn-primary">Signup</button>
        </form>
    </div>
        <div class="col-md-4">
            <img src="https://i.imgur.com/drKw3jv.jpg" alt="" />
        </div>
    </div>
</div>

<script src="/javascript/login.js"></script>